.portrait {
    width: 160px;
    height: 160px;
    box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.15), 0 6px 6px 0 rgba(0, 0, 0, 0.15);
}

#kontakt {
    text-align: center;
}

#nav {
    max-width: 1600px;
    color: white;
    background-image: linear-gradient(#26275d, black);
    font-size: 140%;
    font-style: italic;
    font-weight: bold;
    border-bottom: solid 5px white;
    box-shadow: 12px 14px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}

#nav a {
    margin: 0 0 0 0;
    padding-left: 6px;
    padding-right: 6px;
    border-left: #f71c7a solid 1px;
    border-right: #f71c7a solid 1px;
    text-decoration: none;
}

#nav a:link {
    color: white;
}

#nav a:hover {
    text-decoration: underline;
    text-decoration-color: #f71c7a;
}

#nav a:visited {
    color: white;
}

#nav a#nav_home {
    border-left: 0;
}

#nav a#nav_facebook {
    border-right: 0;
}

.person_wrapper {
    text-align: center;
}

.person {
    display: inline-block;
    padding: 5px;
}

.person h3 {
    color: #ec3434;
    border-bottom: #ec3434 solid 1px;
    max-width: 768px;
}

.portrait_holder {
    display: inline-block;
    margin-bottom: 5px;
}

.person_info_holder {
    display: inline-block;
    padding-left: 5px;
}

.person_info_holder a {
    color: #ec3434;
    text-decoration: none;
}

.person_info_holder a:hover {
    text-decoration: underline;
}

footer {
    clear: left;
    text-align: center;
    font-size: 110%;
    margin-top: 15px;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    #kontakt h2 {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

@media (max-width: 425px) {
    #kontakt {
    }

    #nav {
        font-size: 100%;
        border-bottom: solid 3px white;
    }

    #nav a {
        padding-left: 3px;
        padding-right: 3px;
    }

    .portrait_holder {
        display: block;
    }

    .person_info_holder {
        display: block;
    }

    .person {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 375px) {
    #nav {
        font-size: 85%;
    }
}


