/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family:  'Open Sans', Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

section {
    display: block;
}

#logo {
    border-bottom: 5px solid #dd3b2a;
    /* box-shadow: 12px 14px 28px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

#logo img {
    display:block;
    margin:auto;
    max-width:100%;
    height:auto;
    width: auto\9; /* ie8 */
}

#header {
    height: 26px;
    display: table;
    font-size: 110%;
    font-style: italic;
    font-weight: bold;
}

#nav {
    width: 1600px;
    vertical-align: middle;
    display: table-cell;
}

#header a {
    margin: 0 0 0 0;
    padding-left: 6px;
    padding-right: 6px;
    border-left: #f71c7a solid 1px;
    border-right: #f71c7a solid 1px;
    text-decoration: none;
}

#header a:link {
    color: #2f3068;
}

#header a:hover {
    color: #f71c7a;
}

#header a:visited {
    color: #2f3068;
}

#header a#nav_infos {
    border-left: 0;
}

#header a#nav_kontakt {
    border-right: 0;
}

#info h2, #program h2, #anfahrt h2 {
    border-bottom: #ec3434 solid 1px;
    color: #ec3434;
    font-style: italic;
}

#info_table {
    display: block;
}

#info_table tr {
    vertical-align:top;
}

#info_table .fragen {
    font-weight: bold;
}

#info_table tr>td {
    padding-bottom: 2px;
    padding-top: 2px;
}

#info_table tr>td.antworten {
    padding-left: 20px;
}

#info_program {
    clear: left;
    float: left;
    left: 50%;
    margin-left: -520px;
    max-width: 495px;
    position: relative;
    width: 50%;
    z-index: 4;
}

#info_program_beschreibung {
    background-color: rgba(255, 255, 255, 0.9);
    float: left;
    position: relative;
    width: 100%;
    z-index: 3;
}

#info_program_beschreibung > * {
    float: left;
    width: 50%;
}

#beschreibung {
    float: left;
    margin-left: 1.5%;
    max-width: 495px;
    position: relative;
    left: 50%;
}

#program_table {
    text-align: center;
    width: 100%;
}

#program_table tr>th {
    padding-bottom: 8px;
}

#program_table tr>th>div {
    width: 35%;
    margin: auto;

    border-bottom: #999999 1px solid;
}

#program_table tr>td {
    padding-bottom: 3px;
    padding-top: 3px;
}

#program_table .background {
    background-color: rgba(243, 243, 243, 0.9);
}

#anfahrt {
    clear: left;
    float: left;
    left: 50%;
    margin-left: -520px;
    max-width: 495px;
    position: relative;
    width: 50%;
}

#anfahrt h2 {
    width: 100%;
}

#anfahrt > * {
    float: left;
    width: 50%;
}

#map {
    height: 360px;
    width: 360px;
}

footer {
    clear: left;
    text-align: center;
    font-size: 110%;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 1040px) {
    #info_program {
        left: auto;
        margin: 0 2.5% 0 5%;
        width: 42.5%;
    }

    #beschreibung {
        margin: 0 5% 0 2.5%;
        width: 42.5%;
    }

    #anfahrt {
        left: auto;
        margin-left: 0;
        padding: 0 5%;
        width: 90%;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
